/* CSS reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root{  

 /* ### Primary */

--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

/* ### Neutral */

--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}

/* Start styling */
body{
    background-color: var(--Very-Light-Gray);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.Heading{
    font-weight: 200;
    color: var(--Very-Dark-Blue);
    text-align: center;
    font-size: 1.5rem;
}

.Heading bold{
    font-weight: 600;
}

.Paragraph{
    color:var(--Grayish-Blue);
    text-align: center;
    font-size: .95rem;
    margin-bottom: 20px;
}

.Card-title{
    color: var(--Very-Dark-Blue);
    font-size: 16px;
}

.card-discription{
    font-size: 12px;
    color: var(--Grayish-Blue);
}

.card-container{
display: grid;
gap: 2rem;
}

.center{
  display: grid;
  gap: 2rem;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white-clr);
  padding: 1.47rem 2.9rem 1.75rem;
  border-radius: 8px;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
}

img{
  margin-top: 2.06rem;
  margin-left: auto;
  display: block;
}

.card1{
    border-top: 4px solid var(--Cyan);
}

.card2{
    border-top: 4px solid var(--Red);
}

.card3{
    border-top: 4px solid var(--Orange);
}

.card4{
    border-top: 4px solid var(--Blue);
}


@media (min-width:37.5rem){
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
    align-items: center;
  }
  
  .card {
    padding: 20px;
    box-sizing: border-box;
  }
  
  
}
